@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .desktop-background {
      left: 56%;
    }

    .background-resize {
      background-position: -300px -675px, 0% 0%;
      background-size: 1200px, 100%;
    }

    .phone-image {
      top: -175px;
      height: 325px;
    }

    .phone-image-reset {
      top: -300px;
      height: auto;
    }

    .showcase-desktop {
      background-size: auto;
      background-position-x: 40%, 0;
      background-position-y: 50%, 0;
    }
  }
}

@layer components {
  .btn-white {
    @apply text-center bg-white rounded-full py-2 px-4 text-light-red font-bold hover:bg-very-light-red hover:text-white transition duration-300;
  }

  .btn-nav {
    @apply text-white font-bold opacity-75 hover:opacity-100;
  }
}

:root {
  /* Variables */
  /* Primary */
  --light-red: hsl(356, 100%, 66%); /* CTA */
  --very-light-red: hsl(355, 100%, 74%); /* CTA hover background */
  --very-dark-blue: hsl(208, 49%, 24%); /* headings */

  /* Neutral */
  --white: hsl(0, 0%, 100%); /* text */
  --grayish-blue: hsl(240, 2%, 79%); /* footer text */
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /* body copy */
  --very-dark-black-blue: hsl(240, 10%, 16%); /* footer background */

  /* Gradients */
  --background-gradient: linear-gradient(
    135deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );

  --body-gradient: linear-gradient(
    135deg,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
}

/* Debug borders */
.debug-border {
  border: 1px solid red;
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--very-dark-blue);
}

body {
  font-family: "Overpass", sans-serif;
}

/* Mobile Menu */
.slide-in {
  transform: translateY(-100%);
}

.menu-bg-opacity {
  background-color: rgba(45, 46, 64, 0.08);
}

.mobile-nav-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-height: 1px;
  transition: visibility 0.35s, opacity 0.35s, max-height 0.35s;
}

.mobile-nav-menu.open {
  display: block;
  position: absolute;
  visibility: visible;
  opacity: 1;
  max-height: 3000%;
}

.mobile-slide-out {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-height: 1px;
  transition: visibility 0.75s, max-height 0.75s;
}

.mobile-slide-out.open {
  display: block;
  position: static;
  visibility: visible;
  opacity: 1;
  max-height: 300px;
}

/* Navigation */
nav {
  font-family: "Ubuntu", sans-serif;
}

button {
  font-family: "Ubuntu", sans-serif;
}

.transform-flip {
  transform: rotate(180deg);
}
/* Showcase */
.showcase {
  background-image: url("./images/bg-pattern-intro.svg"),
    var(--background-gradient);

  background-size: 350%, 100%;
  background-position-x: 35%, 0;
  background-position-y: 45%, 0;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  height: 600px;
}

.showcase .overlay {
  min-height: 600px;
}

/* Second Section */

.dark-section {
  background-image: url("./images/bg-pattern-circles.svg"), var(--body-gradient);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-repeat: no-repeat, no-repeat;
  background-position: -100px -300px, 0% 0%;
  background-size: 600px, 100%;
}

/* Footer */
.footer {
  background-color: var(--very-dark-black-blue);
  border-top-right-radius: 100px;
  padding-bottom: 20px;
}

.footer a {
  color: var(--grayish-blue);
  position: relative;
}

.footer a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--grayish-blue);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: top left;
}

footer a:hover::before {
  transform: scaleX(1);
}
