@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .desktop-background {
      left: 56%;
    }
  }
}

:root {
  /* Variables */
  /* Primary */
  --light-red: hsl(356, 100%, 66%); /* CTA */
  --very-light-red: hsl(355, 100%, 74%); /* CTA hover background */
  --very-dark-blue: hsl(208, 49%, 24%); /* headings */

  /* Neutral */
  --white: hsl(0, 0%, 100%); /* text */
  --grayish-blue: hsl(240, 2%, 79%); /* footer text */
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /* body copy */
  --very-dark-black-blue: hsl(240, 10%, 16%); /* footer background */

  /* Gradients */
  --background-gradient: linear-gradient(
    135deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );

  --body-gradient: linear-gradient(
    135deg,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
}

/* Debug borders */
/* * {
  border: 1px solid red;
} */

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--very-dark-blue);
}

body {
  font-family: "Overpass", sans-serif;
}

/* Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%) */

/* Navigation */
nav {
  font-family: "Ubuntu", sans-serif;
}

button {
  font-family: "Ubuntu", sans-serif;
}
/* Showcase */
.showcase {
  background-image: url("./images/bg-pattern-intro.svg"),
    var(--background-gradient);

  background-size: 350%, 100%;
  background-position-x: 35%, 0;
  background-position-y: 45%, 0;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  height: 600px;
}

.showcase .overlay {
  min-height: 600px;
}

/* Second Section */
.desktop-background {
  height: 1000px;
}

.dark-section {
  background-image: url("./images/bg-pattern-circles.svg"), var(--body-gradient);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-repeat: no-repeat, no-repeat;
  background-position: -100px -300px, 0% 0%;
  background-size: 120%, 100%;
  height: 600px;
}

/* Footer */
.footer {
  background-color: var(--very-dark-black-blue);
  border-top-right-radius: 100px;
  padding-bottom: 20px;
}

.footer a {
  color: var(--grayish-blue);
  position: relative;
}

.footer a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--grayish-blue);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: top left;
}

footer a:hover::before {
  transform: scaleX(1);
}
