@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variables */
  /* Primary */
  --light-red: hsl(356, 100%, 66%); /* CTA */
  --very-light-red: hsl(355, 100%, 74%); /* CTA hover background */
  --very-dark-blue: hsl(208, 49%, 24%); /* headings */

  /* Neutral */
  --white: hsl(0, 0%, 100%); /* text */
  --grayish-blue: hsl(240, 2%, 79%); /* footer text */
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /* body copy */
  --very-dark-black-blue: hsl(240, 10%, 16%); /* footer background */

  /* Gradients */
  --background-gradient: linear-gradient(
    135deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--very-dark-blue);
}

body {
  font-family: "Overpass", sans-serif;
}

/* Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%) */

/* Navigation */
nav {
  font-family: "Ubuntu", sans-serif;
}

button {
  font-family: "Ubuntu", sans-serif;
}
/* Showcase */
.showcase {
  background-image: var(--background-gradient);
  /* background-image: url("images/bg-pattern-intro.svg"); */
  background-size: 200%;
  background-position-x: 35%;
  background-position-y: 45%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  height: 600px;
}

.showcase .overlay {
  min-height: 600px;
}
